ul {
    list-style-type: none;
    text-size-adjust: 10px;
}

.navbar-brand{
    background: linear-gradient(to bottom right, red, orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.page-wrapper{
    background-image: linear-gradient(to bottom right, red, orange);
}

.table{
    background-color: white;
}

.team-profile{
    margin: 30px;
    height: 150px;
}

.objectives{
    -webkit-text-fill-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner-home{
    height: 500px;
    text-align: center;
    -webkit-text-fill-color:  white;
    padding: 50px;
}

.card{
    -webkit-text-fill-color: grey;
    background-color: white;
    height: 250px;
}

div.circle-avatar{
    float: right;
    width:150px;
    height:150px;
    display:block;
    border-radius:50%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }

.section{
    margin: 20px;
    padding: 20px;
}

.divider {
    height: 1px;
    width:100%;
    display:block;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu{
    
    margin-top: 4px;
    text-align: center;
}

#data-card-navbar{
    margin-left: 1px;
    border-color: gray;
    border-bottom-width: 10px;
}

#container-underline{
    margin-top: 25px;
    margin-bottom:30px;
    height: 1.5px;
    background-color: white;
}

#container-underline-gray{
    margin-top: 25px;
    margin-bottom:30px;
    height: 1.5px;
    background-color: black;
}

#data-card{ 
    height:400px;
}

#project-outline-text{
    margin: 10px;
    margin-bottom: 50px;
}